
.topo{
    margin-top: 5px;
}
.container{
   width: 90%;
}

.topo-media{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.topo-table{
    margin-top: 20px;
}

.altura-topo{
    height: 60px;
}

.relatorio-topo{
    text-align: right;
}

.topo-apresentacao{

    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.data-topo{
    text-align: right;
}

.texto-fonte{
    text-align: center;
}

.texto-media{
    font-size: 16px;
    font-weight: 600;
}

.texto-media-rodape{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: 1px solid black;
    display: inline-block;
}
.variavel{
    font-size: 14px;
    font-weight: 100;
}

.fonte{
    text-align: center;
}
.media-div{
    background-color: #c3c3c3;
}

.texto-media-titulos{
    font-size: 13px;
    font-weight: 800;
    text-align: center;
}


span{
    font-size: 13px;
    font-weight: 100;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15{
    width: 20%;
    float: left;
}

@media (min-width: 768px){
    .col-sm-15{
        width: 20%;
        float: left;
    }

}

@media (min-width: 992px){
    .col-md-15{
        width: 20%;
        float: left;
    }

}

@media (min-width: 1200px){
    .col-lg-15{
        width: 20%;
        float: left;
    }

}

@media print{

    @page  {
        margin: -4%;
    }

    body {
        width: 90%;
    }

    .logo{
        padding-top: 15px;
    }

    .relatorio-topo{
        margin-left: 75%;
        margin-top: 55px;
    }

    .altura-topo{
        height: 120px;
    }

    .logo{
        position: absolute;
        margin-top: 35px;
    }

    .borda-gn{
        border-bottom: 1px solid black;
    }

    .table-1{
        margin-bottom: 150px;
    }

}


