
.topo{
    margin-top: 5px;
}
.container{
   width: 90%;
}

.topo-media{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.topo-table{
    margin-top: 20px;
}

.altura-topo{
    height: 60px;
}

.relatorio-topo{
    text-align: right;
}

.topo-apresentacao{

    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.data-topo{
    text-align: right;
}

.texto-fonte{
    text-align: center;
}

.texto-media{
    font-size: 18px;
    font-weight: 600;
}

.texto-media-rodape{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: 1px solid black;
    display: inline-block;
}
.variavel{
    font-size: 14px;
    font-weight: 100;
}

.fonte{
    text-align: center;
}
.media-div{
    background-color: #c3c3c3;
}

.texto-titulo{
    font-size: 15px;
    font-weight: 600;
}

.fonte-variavel{
    font-size: 15px;
}


@media print {

    .texto-titulo {
        font-size: 12px;
    }

    .titulo1{
        padding-left: 61.6px;
    }

    .titulo2{
        padding-left: 50px;
    }

    .titulo3{
        padding-left: 55px;
    }

    .titulo4{
        padding-left: 38px;
    }

    .titulo5{
        padding-left: 35px;
    }

    .rede1{
        padding-left: 23px;
    }

    .rede2{
        padding-left: 25px;
    }

    .rede3{
        padding-left: 25px;
    }

    .rede4{
        padding-left: 27px;
    }

    .rede5{
        padding-left: 27px;
    }

    .border-div{
        border-bottom: 1px solid black;
    }

    .fonte-variavel{
        font-size: 10px;
    }


    .americanas{
        margin-right: -35px;
    }

    .cea{
        margin-right: 6px;
    }

    .carrefour{
        margin-right: -22px;
    }

    .cbd{
        margin-right: 6px;
    }

    .coop{
        margin-right: -4px;
    }

    .don{
        margin-right: -23px;
    }

    .davo{
        margin-right: -2px;
    }

    .fast{
        margin-right: -25px;
    }

    .cem{
        margin-right: -27px;
    }

    .magazine{
        margin-right: -55px;
    }

    .valdir{
        margin-right: -29px;
    }

    .pernambucanas{
        margin-right: -58px;
    }

    .riachuelo{
        margin-right: -23px;
    }

    .via {
        margin-right: -23px;
    }

    .walmart{
        margin-right: -18px;
    }

    .relatorio-topo{
        margin-top: -50px;
    }

    .media-rodape{
        margin-left: 320px;
    }

    .vr1-rodape{
        margin-left: 75px;
    }

    .vr2-rodape{
        margin-left: 105px;
    }

    .titulo{
        position: absolute;
        margin-left: 10px;
    }
}
