body{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.topo{
    margin-top: 5px;
}
.container{
   width: 90%;
}

.topo-media{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.topo-table{
    margin-top: 20px;
}

.altura-topo{
    height: 60px;
}

.relatorio-topo{
    text-align: right;
}

.topo-apresentacao{

    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.data-topo{
    text-align: right;
}

.texto-fonte{
    text-align: center;
}

.texto-media{
    font-size: 16px;
    font-weight: 600;
}

.texto-media-rodape{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: 1px solid black;
    display: inline-block;
}
.variavel{
    font-size: 14px;
    font-weight: 100;
}

.fonte{
    text-align: center;
}
.media-div{
    background-color: #c3c3c3;
}

.texto-media-titulos{
    font-size: 13px;
    font-weight: 800;
}

span{
    font-size: 13px;
    font-weight: 100;
}



@media print{

    @page  {
        margin: -4%;
    }

    body {
        width: 90%;
    }

    .logo{
        position: absolute;
        padding-top: 40px;

    }

    .relatorio-topo{
        margin-left: 75%;
        margin-top: 70px;
    }

    .altura-topo{
        height: 140px;
    }


    .desempenho-div{
        margin-left: 350px;
    }

    .legenda-div{
        position: absolute;
        margin-top: -220px;
        margin-left: 100px;
    }

    .grafico-div{
        position: absolute;
        margin-top: -300px;
        margin-left: 340px;
    }

    .curva-a{
        position: absolute;
        margin-left: 0px;
        margin-top: -10px;
    }

    .curva-b{
        position: absolute;
        margin-left: 400px;
        margin-top: -10px;
    }

    .curva-c{
        position: absolute;
        margin-left: 800px;
        margin-top: -10px;
    }

    .ranking-div{
        position: absolute;
        margin-top: -10px;
        margin-left: 1000px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .final-div{
        position: absolute;
        margin-top: 400px;
    }

    .legenda-cor-1{
        width: 30px;
        height: 10px;
        background-color: black;
    }

    .legenda-cor-2{
        width: 30px;
        height: 10px;
        border-left: 15px solid #a9a9a9;
    }

    .div-media-filial{
        border-bottom: 1px solid black;
        padding-top: 20px;
    }

    .filial-2{
        margin-top: -205px;
        border-top: 1px solid black;
    }

    .media-1{
        padding-top: 200px;
    }

    .borda-gn{
        margin-top: -12px;
    }

}
