
.topo{
    margin-top: 5px;
}
.container{
   width: 90%;
}

.topo-media{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.topo-table{
    margin-top: 20px;
}

.altura-topo{
    height: 60px;
}

.relatorio-topo{
    margin-top: -40px;
    text-align: right;
}

.topo-apresentacao{

    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.data-topo{
    text-align: right;
}

.texto-fonte{
    text-align: center;
}

.texto-media{
    font-size: 18px;
    font-weight: 600;
}

.texto-media-rodape{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: 1px solid black;
    display: inline-block;
}
.variavel{
    font-size: 14px;
    font-weight: 100;
}

.fonte{
    text-align: center;
}
.media-div{
    background-color: #c3c3c3;
}




