* {
  margin: 0px;
  padding: 0px;
}

html, #corpo {
  background-color: #F1F4F9 !important;
}

.ui-widget-header{
   background: #D52B1E;
 }

.ui-state-active {
   background: #D52B1E;
 }

input {
  border-radius: 4px;
  text-transform: uppercase;
}

.label {
    float: left;
    color: rgb(33,150,243);
    font-size: 12px;
}

.mdl-navigation__link, a {
  color: rgb(0,0,0);
}

.mdl-layout__header-row {
  background-color: #970401 !important; /*Com base no Site da Claro*/
}

.mdl-layout__header-row a {
  color: rgb(255,255,255);
}

table {
  text-transform: uppercase;
  box-shadow: 0px 0px 0px 0px white !important; 
}

td {
  background-color: white !important; 
  color: black !important;
}

a {
  text-decoration:none; 
}

/*Corpo*/
#corpo {


  min-height: 380px;
  background-color: white;
  opacity: 0.85;	
  overflow: auto;

  position: relative;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
	margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
	transition: 1s;

}

@media (min-width: 768px) {
  #corpo {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #corpo {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #corpo {
    width: 80%;
  }
}
/*Corpo*/

/*Footer*/
footer {
  position: relative; 
  bottom: 0; 
  width: 100%;
}
/*Footer*/

.sucesso {
  background-color: #32CD32;
}

.desabilitado{
  background-color: #C0C0C0;
}

.alerta{
  background-color: #FF8C00;
}

.falha{
  background-color: #DC143C;
}

/*Formatação do popup de erro*/
.erro-card-wide.mdl-card {
  margin-left: 10px;
  width: 400px;
  position: absolute;
  opacity: 0.9;
  z-index: 100;
  transition: 0.5s;

    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
    animation-duration: 500ms;

}

.erro-card-wide.mdl-card:hover {

  opacity: 1;
  transition: 0.5s;

}

.erro-card-wide > .mdl-card__title {
  color: #fff;
  height: 60px;
  background-color: #FF6347;
}

.erro-card-wide > .mdl-card__menu {
  color: #fff;
}

/*Formatação do popup de erro*/

/*Formatação do popup de Aviso*/

.aviso-card-wide.mdl-card {
  margin-left: 10px;
  width: 400px;
  position: absolute;
  opacity: 0.9;
  z-index: 100;
  transition: 0.5s;

}

.aviso-card-wide.mdl-card:hover {

  opacity: 1;
  transition: 0.5s;

}

.aviso-card-wide > .mdl-card__title {
  color: #fff;
  height: 60px;
  background-color: #DAA520;
}

.aviso-card-wide > .mdl-card__menu {
  color: #fff;
}

/*Formatação do popup de Aviso*/

/*Formatação do popup de Sucesso*/

.sucesso-card-wide.mdl-card {
  margin-left: 10px;
  width: 400px;
  position: absolute;
  opacity: 0.8;
  transition: 0.5s;
  z-index: 100;;

}

.sucesso-card-wide.mdl-card:hover {

  opacity: 1;
  transition: 0.5s;

}

.sucesso-card-wide > .mdl-card__title {
  color: #fff;
  height: 60px;
  background-color: #228B22;
}

.sucesso-card-wide > .mdl-card__menu {
  color: #fff;
}

/*Formatação do popup de Sucesso*/

/*Personalizando icones Google*/

.material-icons.md-48 { font-size: 48px; }

.material-icons.md-100 { font-size: 100px; }

.material-icons.SteelBlue { color: #4682B4; }

/*Personalizando icones Google*/

#aviso_de_erro {
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px; 
  background-color: red;
  opacity: 0.5;
  box-shadow: 2px 2px 2px black;
  color: white;
}

#erro_email {
  padding: 10px;
  margin-bottom: 5px;
}

.menu-superior {
  margin-right: 10px;
}

/*Usado para aparencia dos campos select*/

.mdl-select {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 20px 0;
}

.mdl-select__input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: 16px;
  text-align: left;
  color: inherit;
}

.mdl-select.is-focused .mdl-select__input { outline: none; }
.mdl-select.is-invalid .mdl-select__input { 
  border-color: rgb(222, 50, 38);
    box-shadow: none;
  }

.mdl-select.is-disabled .mdl-select__input {
  background-color: transparent;
  border-bottom: 1px dotted rgba(0,0,0, 0.12);
}

.mdl-select__label {
  bottom: 0;
  color: rgba(0,0,0, 0.26);
  font-size: 16px;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  top: 24px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left; 
}

.mdl-select.is-dirty .mdl-select__label { visibility: hidden; }

.mdl-select--floating-label .mdl-textfield__label {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mdl-select--floating-label.is-focused .mdl-select__label,
.mdl-select--floating-label.is-dirty .mdl-select__label {
  color: rgb(63,81,181);
  font-size: 12px;
  top: 4px;
  visibility: visible;
}

.mdl-select--floating-label.is-focused .mdl-select__expandable-holder .mdl-select__label,
.mdl-select--floating-label.is-dirty .mdl-select__expandable-holder .mdl-select__label {
  top: -16px;
}

.mdl-select--floating-label.is-invalid .mdl-select__label {
  color: rgb(222, 50, 38);
  font-size: 12px;
}

.mdl-select__label:after {
  background-color: rgb(63,81,181);
  bottom: 20px;
  content: '';
  height: 2px;
  left: 45%;
  position: absolute;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  width: 10px;
}

.mdl-select.is-focused .mdl-select__label:after {
  left: 0;
  visibility: visible;
  width: 100%; 
}

.mdl-select.is-invalid .mdl-select__label:after {
  background-color: rgb(222, 50, 38); 
}

.mdl-select__error {
  color: rgb(222, 50, 38);
  position: absolute;
  font-size: 12px;
  margin-top: 3px;
  visibility: hidden;
}

.mdl-select.is-invalid .mdl-select__error {
  visibility: visible;
}

.mdl-select__expandable-holder {
  display: inline-block;
  position: relative;
  margin-left: 32px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  max-width: 0.1px; 
}

.mdl-select.is-focused .mdl-select__expandable-holder, .mdl-select.is-dirty .mdl-select__expandable-holder {
  max-width: 600px; 
}

.mdl-select__expandable-holder .mdl-select__label:after {
  bottom: 0;
}

.mdl-switch{

margin-top: 50px;

}