body {
		background-image: url(../imagens/bg_login.jpg);
		transition: 0.5s;
		background-size: 100%;
}

#caixaLogin {
	transition: 0.5s;
    width:400px;
    height:385px;
    background-color:#fff;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;

    margin-left: -200px; /* metade da largura */
    margin-top: -175px; /* metade da altura */
    position: absolute;
    top: 50%;
    left: 50%;
    

}


#navegador {

	position:absolute;
	float:left;
	bottom:0;
	color: white;

}

#caixaLogin:hover {

	box-shadow: 0px 0px 20px #00BFFF;
}

body:hover {

	background-image: url("../imagens/bg_login_focus.jpg");
	background-repeat: no-repeat;
	transition: 0.5s;
	background-size: 100%;

}

#nome, #versao {
	margin: 0;
	padding-top:0;
	font-style: italic;
	color: #fff;
}

#versao {
	text-align: right;
}

#img {
	
	position:relative;
	margin-bottom: 0px;
	margin-top: 10px;
	margin-left: 37.5%;
	margin-right: 35%;
}

#login {
	position: relative;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 30px;
}

#aviso {
	position: relative;
	text-align: center;
	padding: 0px;
	margin-bottom: 0px;
	margin-top: -10px;
	font-size: 15px;
	color: red;
}

/*Formatação do popup de erro*/
.erro-card-wide.mdl-card {
  margin-left: 10px;
  width: 400px;
  opacity: 0.8;
  transition: 0.5s;

    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
    animation-duration: 500ms;

}

.erro-card-wide.mdl-card:hover {

  opacity: 1;
  transition: 0.5s;

}

.erro-card-wide > .mdl-card__title {
  color: #fff;
  height: 60px;
  background-color: #FF6347;
}

.erro-card-wide > .mdl-card__menu {
  color: #fff;
}

/*Formatação do popup de erro*/

/*Formatação do popup de Aviso*/

.aviso-card-wide.mdl-card {
  margin-left: 10px;
  width: 400px;
  opacity: 0.8;
  transition: 0.5s;

}

.aviso-card-wide.mdl-card:hover {

  opacity: 1;
  transition: 0.5s;

}

.aviso-card-wide > .mdl-card__title {
  color: #fff;
  height: 60px;
  background-color: #DAA520;
}

.aviso-card-wide > .mdl-card__menu {
  color: #fff;
}

/*Formatação do popup de Aviso*/

/*Formatação do popup de Sucesso*/

.sucesso-card-wide.mdl-card {
  margin-left: 10px;
  width: 400px;
  opacity: 0.8;
  transition: 0.5s;

}

.sucesso-card-wide.mdl-card:hover {

  opacity: 1;
  transition: 0.5s;

}

.sucesso-card-wide > .mdl-card__title {
  color: #fff;
  height: 60px;
  background-color: #228B22;
}

.sucesso-card-wide > .mdl-card__menu {
  color: #fff;
}

/*Formatação do popup de Sucesso*/

/*Personalizando icones Google*/

.material-icons.md-48 { font-size: 48px; }

.material-icons.md-100 { font-size: 100px; }

.material-icons.SteelBlue { color: #4682B4; }

/*Personalizando icones Google*/