body {
	margin-right: 5px; 
	padding: 10px;
}
.row {
	margin-top: 5px;
}

.nopaddingright {
		
		padding-right: 0 !important;
}

.nopaddingleft {
		
		padding-left: 0 !important;
}

::-webkit-input-placeholder {
   font: 9px verdana, arial, sans-serif;
}

:-moz-placeholder {
   font: 9px verdana, arial, sans-serif;
}

::-moz-placeholder {
   font: 9px verdana, arial, sans-serif;
}

:-ms-input-placeholder {  
   font: 9px verdana, arial, sans-serif;
}